html, body {
    height: 100%;
}

/* body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
} */

.header {
    padding: .5rem;    
}

#title {
    text-align: center;
    font-size: 3rem;
}

.mainDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 6rem;
}

#squareContainer { 
    display: grid;
    grid-template-columns: repeat(32, 1fr);

    width: 30rem;
    height: 30rem;

}

.squares {
    border: solid .05rem black;/*  to be removed */
}

.sliderDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#slider {
    /*insert code*/
    
}