html, body {
    height: 100%;
    width: 100%;
    background-color: #DDC3A5;
}

a {
    color:#201E20;
}

a::-webkit-any-link {
    text-decoration: underline;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.entire-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 8rem;
}

.settings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
    gap: 1.5rem;
}

#colorPicker {
    width: 6rem;
    height: 6rem;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#colorPicker::-webkit-color-swatch {
    border-radius: 50%;
}

button, input {
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

button:hover {
    opacity: 1; 
    /* hover glow */
    -webkit-box-shadow: 0px 0px 20px #eaebed;
    -moz-box-shadow: 0px 0px 20px #eaebed;
    box-shadow: 0px 0px 20px #eaebed;
}

.toggled {
    background-color: #201E20;
    color: #E0A96D;
    -webkit-box-shadow: 0px 0px 20px #eaebed;
    -moz-box-shadow: 0px 0px 20px #eaebed;
    box-shadow: 0px 0px 20px #eaebed;
}

.mainDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: static;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;    
    justify-content: center;
    align-items: center;
}

#title {
    text-align: center;
    font-size: 3rem;
    color: #201E20;
}

#squareContainer { 
    display: grid;
    width: 30rem;
    height: 30rem;

    background-color: white;
    border: solid 1px #E0A96D;
}

.squares {
    border:solid 1px;
    border-color:#DDC3A5;
}


.sliderDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: .5rem;
    outline: none;
    background-color: #E0A96D;
    border-radius: 1rem;
    border: #262626 solid 1px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background: #262626;
  }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    height: 3rem;
    font-weight: 500;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-left: 1.5rem;
}